**/__pycache__
**/target/
**/*.rs.bk
**/*.pdb
.vscode/
.idea/
*.iml
*.swp
**/Cargo.lock
**/*.tar.gz
.ipynb_checkpoints/
.virtual_documents/
.RData
.Rhistory
.vscode/
.idea/
*.swp
*.beam
*.o
*.a
*.so
main
.DS_Store
.venv/
.env
